.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  box-sizing: border-box;

  @media screen and (max-width: 500px) {
    padding: 5px 20px;
  }
}

.wrapper.active {
  background: var(--qwik-dark-background);
  backdrop-filter: blur(4px);
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
}

.burger {
  font-size: 40px;
  cursor: pointer;
}
