.work-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 0;
}

.banner {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  max-width: 1280px;
  margin: 100px auto 0 auto;

  @media screen and (max-width: 1280px) {
    padding-left: 20px;
    padding-right: 40px;
    gap: 50px;
  }

  @media screen and (max-width: 800px) {
    padding-right: 20px;
    height: 75%;
    flex-direction: column-reverse;
    gap: 20px;
  }

  & .img-container {
    flex: 0 0 60%;
  }

  & .title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media screen and (max-width: 800px) {
      padding-left: 30px;
    }

    & .title {
      font-size: 36px;
      font-weight: 600;
      line-height: 1.2;

      @media screen and (max-width: 1280px) {
        font-size: 24px;
      }
    }

    & .title.eng {
      font-family: "Zen Maru Gothic", sans-serif;
    }

    & .tag-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 10px;
      gap: 15px;
      width: 100%;
      padding: 2px 0px;

      & .tag {
        flex-shrink: 0;
        font-size: 18px;
        border-radius: 999px;
        padding: 10px 20px;
        border: 2px solid #fff;

        @media screen and (max-width: 1280px) {
          font-size: 14px;
        }
      }
    }
  }
}

.content-background {
  height: auto;
  padding-top: 50px;
  padding-bottom: 200px;
  width: 100%;
  background: white;

  & .content {
    color: #222;
    padding-bottom: 50px;
    max-width: 1280px;
    margin: 0 auto;

    & .content-section {
      display: flex;
      gap: 10%;

      @media screen and (max-width: 1280px) {
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
      }

      @media screen and (max-width: 750px) {
        flex-direction: column;
      }

      & .img-container {
        flex: 1 1 50%;
      }

      & .text-container {
        flex: 1 1 50%;

        @media screen and (max-width: 1280px) {
          padding: 0 50px;
        }

        @media screen and (max-width: 600px) {
          padding: 0 20px;
        }

        & h2 {
          font-size: 32px;
          letter-spacing: 3px;

          @media screen and (max-width: 1280px) {
            font-size: 24px;
          }
        }

        & p {
          margin-top: 24px;
          font-size: 24px;
          line-height: 1.4;
          letter-spacing: 1px;

          @media screen and (max-width: 1280px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.flex-reverse-750 {
  @media screen and (max-width: 750px) {
    flex-direction: column-reverse !important;
  }
}

.footer {
  height: auto;
  padding-bottom: 150px;
  background: linear-gradient(to bottom left, #fabf3d, #04e0ee);
}
