.card {
  position: relative;
}

.border-card {
  aspect-ratio: 3 / 4;
  border: 0.1px solid #fff;
  padding: 0px 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;

  & .title-container {
    flex: 0 0 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .index {
      font-weight: 600;
      font-size: 60px;
    }

    & .title {
      margin-top: 15px;
      font-size: 25px;
    }
  }

  & .eng-title-container {
    flex: 0 0 12%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & .eng-title {
      font-size: 16px;
    }
  }

  & .content-container {
    flex: 1;
    display: grid;
    place-items: center;

    & .content {
      font-weight: 300;
      line-height: 1.4;
      font-size: 20px;
    }
  }
}

.image-card {
  width: 100%;
  aspect-ratio: 3 / 4;
  flex-shrink: 0;

  & .title {
    width: 100%;
    z-index: 1;
    color: #fff;
    pointer-events: none;
    padding: 15px 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & > p:first-child {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
    }

    & > p:nth-child(2) {
      margin-top: 5px;
      font-size: 18px;
      line-height: 1.4;
      font-weight: 300;
    }

    & > .tag-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 10px;
      gap: 15px;
      width: 100%;
      padding: 2px 0px;

      & > .tag {
        flex-shrink: 0;
        font-size: 18px;
        border-radius: 999px;
        padding: 10px 20px;
        border: 2px solid #fff;
      }
    }
  }
}
